@font-face {
  font-family: 'Cy Grotesk Key';
  src: url('../../fonts/CyGroteskKeyBold.woff2') format('woff2'),
      url('../../fonts/CyGroteskKeyBold.woff') format('woff');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Cy Grotesk Grand';
  src: url('../../fonts/cy_grotesk-grandheavy.woff2') format('woff2'),
      url('../../fonts/cy_grotesk-grandheavy.woff') format('woff');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Cy Grotesk Wide';
  src: url('../../fonts/CyGroteskWideBold.woff2') format('woff2'),
      url('../../fonts/CyGroteskWideBold.woff') format('woff');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Mono';
  src: url('../../fonts/FiraMono-Bold.woff2') format('woff2'),
      url('../../fonts/FiraMono-Bold.woff') format('woff');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Mono';
  src: url('../../fonts/FiraMono-Regular.woff2') format('woff2'),
      url('../../fonts/FiraMono-Regular.woff') format('woff');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Monument Extended';
  src: url('../../fonts/MonumentExtended-Regular.woff2') format('woff2'),
      url('../../fonts/MonumentExtended-Regular.woff') format('woff');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Mono';
  src: url('../../fonts/FiraMono-Medium.woff2') format('woff2'),
      url('../../fonts/FiraMono-Medium.woff') format('woff');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../../fonts/Inter-Regular.woff2') format('woff2'),
      url('../../fonts/Inter-Regular.woff') format('woff');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Mynerve';
  src: url('../../fonts/Mynerve-Regular.woff2') format('woff2'),
      url('../../fonts/Mynerve-Regular.woff') format('woff');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Monument Extended';
  src: url('../../fonts/MonumentExtended-Ultrabold.woff2') format('woff2'),
      url('../../fonts/MonumentExtended-Ultrabold.woff') format('woff');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('Inter-Bold.woff2') format('woff2'),
      url('Inter-Bold.woff') format('woff');
  font-weight: 700;
  font-display: swap;
}

