// color
$red-100: #D60E0E;
$white-100: #E3E8EC;
$black-100: #212121;
$black-150: #171717;
$black-200: #0A0A0A;

// fonts
$font-family-grotesk-key: 'Cy Grotesk Key';
$font-family-grotesk-grand: 'Cy Grotesk Grand';
$font-family-grotesk-wide: 'Cy Grotesk Wide';
$font-family-fira-mono: 'Fira Mono';
$font-family-monument-extended: 'Monument Extended';
$font-family-inter: 'Inter';
$font-family-mynerve: 'Mynerve';